.bg-div{
    position: fixed;
    width: 100vw;
    height: 100vh;
    opacity: 100%;
}

.bg-video{
    background-color: black;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
    opacity: 10%;
}