#projects{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 4rem 0 0 0;
    overflow: hidden;
}

.sec-title{
    text-align: left;
    margin-left: 4rem;
    font-size: 4rem;
    
}

.project-tagline{
    margin: 0;
    font-size: 1.5rem;
    width: 50%;
    margin-left: 4rem;
    text-align: left;
}

.proj-carousel{
    width: 75vw;
    height: 30vw;
    margin: 2rem 11rem;
}




/* CARD CSS starts from here */
.pro-card{
    background-color: white;
    width: 250px;
    height: 300px;
    border-radius: 20px;
    margin: 20px;
    transition: 1s;
    box-shadow: rgba(150, 201, 221, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.active{
    width: 300px;
    height: 350px;
}

.site-title{
    font-size: 17px;
}

.pro-img{
    width: 250px;
    height: 140px;
    border-radius: 20px 20px 0 0;
}

.tech-list{
    margin: 10px 0 0 0;
    text-align: left;
    width: 90px;
    font-size: 13px;
    float: left;
    border-right: 1px dotted grey;
}

.link-img{
    width: 40px;
    cursor: pointer;
    margin: 28px 5px 10px 5px;
}