.nav{
    width: 90vw;
    text-align: center;
    position: relative;
    display: inline-block;
    z-index: 1000;
}

.nav-link-left{
    float: left;
    padding: 4rem 0 0 4rem;
    color: white;
    cursor: pointer;
}

.nav-link-right{
    float: right;
    padding: 4rem 0 0 2rem;
    color: white;
    cursor: pointer;
}

.right-padding{
    padding-right: 4rem;
}

.underline{
    position: relative;
    padding-bottom: 10px;
}


.underline:after{
    content: '';
  display: block;
  width: 0;
    border-bottom: 3px solid red;
  position: absolute;
  right: 0;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.underline:hover:after { 
    width: 70%; 
  }

.menu-img{
    filter: invert(0.9);
    width: 20px;
}

.custom-space{
    margin-right: 12rem;
}

.menu-link{
    text-decoration: none;
    color: white;
    font-size: 35px;
    font-weight: bolder;
    text-align: left;
    transition: all 2s linear;
}

.menu-link:hover{
    position: relative;
    left: 40px;
}

.link-bar{
    position: fixed;
    bottom: 100px;
    left: 150px;
}

.overlay-menu{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
    transition: 10s ease-in;
    color: white;
    z-index: 1000;
    display: none;
    position: fixed;
}

.overlay-contact{
    width: 300px;
    height: 150px;
    /* background-color: red; */
    position: fixed;
    bottom: 50px;
    right: 50px;
}

.social-nav-img{
    height: 30px;
    margin: 20px 20px 20px 0;
    filter: invert(0.5);
}

.email{
    color: rgb(253, 15, 15);
    text-align: left;
}


@media  screen and (min-width: 300px) {

    .nav-link-right, .nav-link-left{
        padding: 0;
        margin: 0.5rem;
    }

    .nav{
        background-color: black;
        margin: 0;
        padding: 0.5rem 0;
        width: 100vw;
    }

    .underline{
        display: none;
    }

    .nav-link-left{
        font-size: 18px;
    }

}

@media screen and (min-width: 300px) and (max-width: 325px){

   .link-bar{
    left: 10px;
    top: 50px;
   }

   .menu-link{
    font-size: 20px;
 }

    .email{
        margin: 0;
        padding: 0;
        position: relative;
        left: 40px;
    }
}

@media screen and (min-width: 325px) and (max-width: 580px){

    .tagline{
        font-size: 3.3rem;
        padding: 0;
        margin: 2rem 2rem 0 2rem;
        text-align: center;
    }

    .desc-para{
        padding: 0;
        font-size: 1.2rem;
        text-align: justify;
        width: 80%;
        margin: 20px 30px 20px 30px;
    }

    .more-btn{
        display: inline-block;
        /* margin: 20px 5px 55px 5px; */
        margin-bottom: 30px;
        left: 0px;
    }

    .scroll-txt{
        display: none;
    }

}

@media screen and (min-width: 580px) and (max-width: 900px){

    .tagline{
        font-size: 4rem;
        padding: 0;
        margin: 2rem 2rem 2rem 2rem;
        text-align: center;
    }

    .desc-para{
        padding: 0;
        font-size: 1.3rem;
        text-align: center;
        width: 80%;
        margin: auto;
    }

    .more-btn{
        display: inline-block;
        margin: 20px 5px 55px 5px;
        left: 0px;
    }

    .scroll-txt{
        display: none;
    }

}

@media screen and (min-width: 900px) and (max-width: 1100px){

    .tagline{
        font-size: 5rem;
        padding: 0;
        margin: 3rem;
        text-align: center;
    }

    .desc-para{
        padding: 0;
        font-size: 1.4rem;
        text-align: center;
        width: 80%;
        margin: auto;
    }

    .more-btn{
        display: inline-block;
        margin: 30px 5px 55px 5px;
        left: 0px;
    }

    .scroll-txt{
        display: none;
    }

}

@media screen and (min-width: 1100px){

    .home-div{
        height: 100vh;
    }

    .tagline{
        text-align: left;
        padding: 0;
        margin: 4rem 5rem 0 5rem;
    }

    .desc-para{
         padding: 0;
         margin-left: 5rem;
        text-align: left;
    }

    .more-btn{
        display: inline-block;
        margin: 50px 5px 55px 5px;
        left: 0px;
    }

    .scroll-txt{
        display: none;
    }

}